@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.page-header-logo {
  display: block;
  position: absolute;
  width: 140px;
  height: 70px;
  padding-left: 70px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.advantages-cause {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img {
  padding: 51px 371px 82px;
  display: block;
  margin: 0 auto;
}


.navigation-logo {
}

.navigation-list {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  padding-left: 168px;
}

.navigation-link {
  display: block;
  width: 100px;
  line-height: 24px;
  color: #000000;
  border-color: #FFFFFF;;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-item {
  width: 100px;
  text-align: center;
}

.navigation-user {
  padding-left: 285px;
  padding-right: 70px;
  align-items: center;
}

.navigation-user .navigation-search {
  min-height: 18px;
  min-width: 18px;
  padding: 22px 12px;
}

.navigation-user-item {
  width: 44px;

}

.navigation--user-item {
  width: 64px;
}

.navigation-user-button {
  margin-top: 14px;
  margin-bottom: 14px;
}

/* button */
.button {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #FFFFFF;
}

.header-button {
  background: #756157;
  border-radius: 4px;
  width: 160px;
  height: 36px;
  font-size: 16px;
  line-height: 20px;
}

.product-button-more {
  background: #756157;
  color: #FFFFFF;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 26px;
}

.product-button-favorites {
  background: #82B3D3;
  color: #FFFFFF;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 20px;
}

.product-button-favorites-added {
  background: #7DB54F;
}

.search-button {
  color: #FFFFFF;
  background: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.button-light {
  display: flex;
  border: 2px solid #000000;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.button-light:last-child {
  margin-right: 0;
}

.main-index {
  background-image: url("../images/mountains.jpg");
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.lead {
  padding: 0;
  margin: 69px 290px 25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.lead-text {
  margin: 0;
  padding: 0;
  padding-bottom: 69px;
  color: #333333;
}

.search-discription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.advantages-item {
  width: 400px;
  height: 385px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #333333;
  list-style-type: none;
}

.advantages-item-container {
  width: 230px;
  height: 260px;
  padding: 102px 85px;
}

.advantages-item-wide {
  background: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-thin {
  background: #83B3D31F;
}

.advantages-item-wide-reverse {
  flex-direction: row-reverse;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 62px;
  padding-right: 27.5px;
  padding-left: 27.5px;
  margin: 0;
}

.advantages-discription {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}


.advantages-comfort {
  text-align: center;
}

.advantages-lead {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 64px 347.5px 20px 347.5px;
}

.advantages-lead-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0 247px 69px;
}

/* infrastructure */

.infrastructure-title {
  margin: 30px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.infrastructure-discription {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}


.infrastructure-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.infrastructure-item-container {
  width: 230px;
  padding: 81px 85px;
}

.search-wrapper {
  padding: 96px 304px;
  margin: 0 auto;
  text-align: center;
}

.search-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 147.5px 20px;
}

.search-discription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
  color: #333333;
}

.subscribe {
 background-image: url("../images/mailing-list.jpg");
 width: 100%;
 color: #FFFFFF;
 text-align: center;
 background-repeat: no-repeat;
}

.subscribe-info {
  padding: 96px 258px 104px;
}

.mailing-list-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 140px 20px;
}

.subscribe-text {
  margin: 0;
  padding: 0 104.5px 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

/* footer */

.footer-social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 70px 30px;
  margin: 0;
}

.footer-social-item {
  width: 142px;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-social-icon {
  padding: 12px 13px;
}

.footer-social-phone {
  list-style-type: none;
  padding-right: 41.5px;
  padding-left: 41.5px;
  width: 720px;
  text-align: center;
}

.footer-social-logo {
  width: 115px;
  list-style-type: none;
  padding-top: 8.5px;
  padding-bottom: 8.5px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

/* Catalog */
.inner-header {
  color: #FFFFFF;
  padding-bottom: 40px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  padding-right: 8px;
}

.breadcrumbs-item:last-child {
  padding-right: 0;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #FFFFFF;
}

.main-catalog {
  background-image: url(../images/catalog/canyon-catalog.jpg);
  background-repeat: no-repeat;
  height: 100%;
}

.catalog-products {
  display: flex;
  color: #FFFFFF;
}

.catalog-filter {
  padding: 35px 70px 0;
}

.catalog-filter-container {
  display: flex;
  padding-bottom: 70px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-list {
  padding-right: 70px;
  padding-left: 70px;
}

.sorting-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 40px;
}

.catalog-sorting-container {
  display: flex;
}

.hotels-list {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 6px;
  padding-bottom: 6px;
}

.select-control {
  border: 2px solid #E5E5E5;
  width: 292px;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-right: 70px;
}

.product-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-card {
  width: 340px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.product-card-image {
  padding: 20px 20px 16px;
}

.product-card-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0 20px 16px;
}

.product-card-price,
.product-card-bottom,
.product-card-raiting {
  display: flex;
  padding: 0 20px 16px;
  justify-content: space-between;
}

.product-card-raiting {
    padding-bottom: 20px;
}

.product-name, .product-price {
  margin: 0;
}

.product-raiting {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
  background: #F2F2F2;
  border-radius: 4px;
  text-align: center;
  margin: 0;
  padding: 9px 22px 8px 23px;
}


.pagination-container {
  display: flex;
  margin-top: 80px;
}

.pagination {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 60px;
}



.pagination-item:not(:last-child) {
  margin-right: 8px;
}


.pagination-link {
  display: block;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  background: #82B3D3;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  padding: 11.36px 18.55px 12.64px 18.45px;
}

.subscribe-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.subdcribe-title-footer {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000;
  text-transform: uppercase;
}

.subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
