@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-image: url(../images/catalog/canyon-catalog.jpg);
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.advantages-cause {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-logo {
  padding-left: 70px;
  padding-right: 30px;

}

.navigation-list {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
  width: 520px;
}

.navigation-item {
  width: 100px;
}

.navigation-user {
  width: 280px;
  align-items: center;
  padding-left: 285px;
  padding-right: 70px;
}

.navigation-link {
  width: 100px;
  line-height: 24px;
  color: #000000;
  border-color: #FFFFFF;;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation--user-item {
  width: 64px;
}

.header-button {
  background: #756157;
  border-radius: 4px;
  width: 160px;
  height: 36px;
  text-transform: uppercase;
}

.main-index {
  background-image: url("../images/mountains.jpg");
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.lead {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.lead-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.advantages-item {
  width: 400px;
  height: 385px;
  text-align: center;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #333333;
}

.fon {
  background: #82B3D3;
  color: #FFFFFF;
}

.fon-lateral {
  background: rgba(131, 179, 211, 0.12);
}

.fon-center {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-comfort {
  text-align: center;
}

.infrastructure-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.infrastructure-discription {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.infrastructure-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.search {
  text-align: center;
}

.subscribe {
 background-image: url("../images/mailing-list.jpg");
 color: #FFFFFF;
 text-align: center;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 70px;
}

.footer-social-item {
  width: 142px;
  display: flex;
}

.footer-social-phone {
  width: 720px;
  text-align: center;
  padding: 0 72px;
}

.footer-social-logo {
  width: 115px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.button {
  text-decoration: none;
}

.sorting {
  width: 1060px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.hotels-list {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.product-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-card {
  width: 340px;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subscribe-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
